In [197]:
# Note that the initial license file from Colorado was too big to load into git hub.
# I ran earlier notebooks to analyze the dataset and determine the best way to reduce it.
# This notebook picks-up with a smaller license_anesthesia file that relates just to the non-physician anesthesia clinicians
# and a smaller license_regnurse file that relates to the underlying RN license file that supports practicing as a CRNA

In [198]:
# Dependencies
import pandas as pd

In [199]:
# Import the file of non-physician anesthesia clinicians
anesthesia=pd.read_csv('license_anesthesia.csv')
anesthesia.head()

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,licenseStatusDescription,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile
0,Charles,James,Robert,NaN,NaN,Golden,CO,80401,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
1,Stagg,Russell,Adair,NaN,NaN,Meeker,CO,81641,C-APN,C-CRNA,...,Expired,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
2,Sampier,Nicole,Louise A,NaN,NaN,Tampa,FL,33602,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
3,Trouskie,William,Leonard,JR,NaN,Rifle,CO,81650,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
4,Penix,Patrick,Alexander,NaN,NaN,Fort Collins,CO,80526,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN

In [200]:
#anesthesia.info()

In [201]:
# Create a last plus first name matching element to merge dataframes
anesthesia['matchName'] = anesthesia['lastName'] + anesthesia['firstName']
anesthesia.head()

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile,matchName
0,Charles,James,Robert,NaN,NaN,Golden,CO,80401,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,CharlesJames
1,Stagg,Russell,Adair,NaN,NaN,Meeker,CO,81641,C-APN,C-CRNA,...,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,StaggRussell
2,Sampier,Nicole,Louise A,NaN,NaN,Tampa,FL,33602,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,SampierNicole
3,Trouskie,William,Leonard,JR,NaN,Rifle,CO,81650,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,TrouskieWilliam
4,Penix,Patrick,Alexander,NaN,NaN,Fort Collins,CO,80526,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,PenixPatrick

In [202]:
# Remove excess columns
del anesthesia["suffix"]
del anesthesia["entityName"]
del anesthesia["specialty"]
del anesthesia["title"]
del anesthesia["degrees"]
del anesthesia["linkToVerifyLicense"]
del anesthesia["linkToViewHealthcareProfile"]
anesthesia.head()

,lastName,firstName,middleName,city,state,mailZipCode,licensePrefix,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,matchName
0,Charles,James,Robert,Golden,CO,80401,APN,CRNA,3656,02/15/2002 12:00:00 AM,10/01/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN,CharlesJames
1,Stagg,Russell,Adair,Meeker,CO,81641,C-APN,C-CRNA,211,06/18/2014 12:00:00 AM,06/18/2014 12:00:00 AM,11/05/2014 12:00:00 AM,Expired,NaN,NaN,NaN,NaN,StaggRussell
2,Sampier,Nicole,Louise A,Tampa,FL,33602,APN,CRNA,994392,01/03/2019 12:00:00 AM,10/01/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN,SampierNicole
3,Trouskie,William,Leonard,Rifle,CO,81650,APN,CRNA,15066,03/02/2010 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,TrouskieWilliam
4,Penix,Patrick,Alexander,Fort Collins,CO,80526,APN,CRNA,995315,01/27/2020 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,PenixPatrick

In [203]:
#anesthesia.info()

In [204]:
# Confirm that last name on its own will not support a matching process
# anesthesia['lastName'].value_counts()

In [205]:
# Confirm that last name first name combo on its own will support a matching process or build exception process
# anesthesia['matchName'].value_counts()

In [206]:
# Import the file with the registered nurse information required to validate underlying licenses
nurse=pd.read_csv('license_regnurse.csv')
nurse.head()

C:\Users\rodge\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,licenseStatusDescription,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile
0,Saracino,Jodi,Kay,NaN,NaN,Arvada,CO,80004,RN,NaN,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
1,Neal,Carmen,Darlene,NaN,NaN,Longview,TX,75608,RN,NaN,...,Expired,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
2,Freeland,Judith,A.,NaN,NaN,BAILEY,CO,80421,RN,NaN,...,Expired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
3,Healy,Julie,E,NaN,NaN,Colorado Springs,CO,80920,RN,NaN,...,Active,NaN,NaN,~Associate Degree in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
4,Englade,Keith,Steven,NaN,NaN,Aurora,CO,80013,RN,NaN,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...

In [207]:
# Create a last plus first name matching element to merge dataframes
nurse['matchName'] = nurse['lastName'] + nurse['firstName']
nurse.head()

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile,matchName
0,Saracino,Jodi,Kay,NaN,NaN,Arvada,CO,80004,RN,NaN,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,SaracinoJodi
1,Neal,Carmen,Darlene,NaN,NaN,Longview,TX,75608,RN,NaN,...,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,NealCarmen
2,Freeland,Judith,A.,NaN,NaN,BAILEY,CO,80421,RN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,FreelandJudith
3,Healy,Julie,E,NaN,NaN,Colorado Springs,CO,80920,RN,NaN,...,NaN,NaN,~Associate Degree in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,HealyJulie
4,Englade,Keith,Steven,NaN,NaN,Aurora,CO,80013,RN,NaN,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,EngladeKeith

In [208]:
#nurseb.info()

In [209]:
# Remove unneeded columns
del nurse["suffix"]
del nurse["entityName"]
del nurse["subCategory"]
del nurse["specialty"]
del nurse["title"]
del nurse["licenseFirstIssueDate"]
del nurse["licenseLastRenewedDate"]
del nurse["degrees"]
del nurse["caseNumber"]
del nurse["programAction"]
del nurse["disciplineEffectiveDate"]
del nurse["disciplineCompleteDate"]
del nurse["linkToVerifyLicense"]
del nurse["linkToViewHealthcareProfile"]
nurse.head()

,lastName,firstName,middleName,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription,matchName
0,Saracino,Jodi,Kay,Arvada,CO,80004,RN,103136.0,09/30/2021 12:00:00 AM,Active,SaracinoJodi
1,Neal,Carmen,Darlene,Longview,TX,75608,RN,181576.0,09/30/2015 12:00:00 AM,Expired,NealCarmen
2,Freeland,Judith,A.,BAILEY,CO,80421,RN,92692.0,09/30/2005 12:00:00 AM,Expired,FreelandJudith
3,Healy,Julie,E,Colorado Springs,CO,80920,RN,130994.0,09/30/2021 12:00:00 AM,Active,HealyJulie
4,Englade,Keith,Steven,Aurora,CO,80013,RN,205425.0,09/30/2022 12:00:00 AM,Active,EngladeKeith

In [210]:
#nurseb.info()

In [211]:
#Import the employee roster (a random subset of public licensees used as fictitious roster in lieu of actual employee roster)
employee=pd.read_csv('employee_roster.csv')
employee.head()

,lastName,firstName,middleName,employeeNum,city,state,mailZipCode,title,hireDate,projectIndicator
0,Tobin,David,A,40,winston salem,NC,27103,CRNA,12/27/2016 0:00,1
1,Barfield,Benjamin,James,67,Denver,CO,80238,AA,6/5/2013 0:00,1
2,Ackerman,Serena,Maija,97,Mount Shasta,CA,96067,CRNA,3/16/2009 0:00,1
3,Shank,Claudine,Dale A,107,Colorado Springs,CO,80921,CRNA,7/7/2004 0:00,1
4,Sims,John,NaN,112,Little Rock,AR,72210,CRNA,12/13/2016 0:00,1

In [212]:
# Create a last plus first name matching element to merge dataframes
employee['matchName'] = employee['lastName'] + employee['firstName']
employee.head()

,lastName,firstName,middleName,employeeNum,city,state,mailZipCode,title,hireDate,projectIndicator,matchName
0,Tobin,David,A,40,winston salem,NC,27103,CRNA,12/27/2016 0:00,1,TobinDavid
1,Barfield,Benjamin,James,67,Denver,CO,80238,AA,6/5/2013 0:00,1,BarfieldBenjamin
2,Ackerman,Serena,Maija,97,Mount Shasta,CA,96067,CRNA,3/16/2009 0:00,1,AckermanSerena
3,Shank,Claudine,Dale A,107,Colorado Springs,CO,80921,CRNA,7/7/2004 0:00,1,ShankClaudine
4,Sims,John,NaN,112,Little Rock,AR,72210,CRNA,12/13/2016 0:00,1,SimsJohn

In [213]:
# Remove excess columns
del employee["projectIndicator"]
del employee["city"]
del employee["state"]
del employee["mailZipCode"]
employee.head()

,lastName,firstName,middleName,employeeNum,title,hireDate,matchName
0,Tobin,David,A,40,CRNA,12/27/2016 0:00,TobinDavid
1,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena
3,Shank,Claudine,Dale A,107,CRNA,7/7/2004 0:00,ShankClaudine
4,Sims,John,NaN,112,CRNA,12/13/2016 0:00,SimsJohn

In [214]:
#employee.info()

In [215]:
# Compliance Reporting Section

In [216]:
# Main anesthesia license management

In [217]:
# Merge the employee and anesthesia license status dataframes using a left join
astatus = pd.merge(employee, anesthesia, on="matchName", how="left")
astatus.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
0,Tobin,David,A,40,CRNA,12/27/2016 0:00,TobinDavid,Tobin,David,A,...,CRNA,992853,12/27/2016 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
1,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,Barfield,Benjamin,James,...,NaN,10,06/05/2013 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
3,Shank,Claudine,Dale A,107,CRNA,7/7/2004 0:00,ShankClaudine,Shank,Claudine,Dale A,...,CRNA,4377,07/07/2004 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
4,Sims,John,NaN,112,CRNA,12/13/2016 0:00,SimsJohn,Sims,John,NaN,...,C-CRNA,661,12/13/2016 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN

In [218]:
# Sort by matchName then licenseStatus, "Active" first
astatus.sort_values(by=['matchName', 'licenseStatusDescription'], inplace=True)
astatus.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
71,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
95,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,CRNA,995962,10/23/2020 12:00:00 AM,10/23/2020 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
96,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,C-CRNA,2009,04/08/2020 12:00:00 AM,10/01/2020 12:00:00 AM,10/23/2020 12:00:00 AM,Expired,NaN,NaN,NaN,NaN
49,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,NaN,...,NaN,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN

In [219]:
# Remove duplicates leaving the active license in the compliance reporting process if it exists
astatus.drop_duplicates(subset ="matchName", keep = False, inplace = True) 
astatus.to_csv("report_anesthesia_compliance.csv", index=False, header=True)
astatus.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
71,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
49,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,NaN,...,NaN,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
1,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,Barfield,Benjamin,James,...,NaN,10,06/05/2013 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
33,Boudreaux,David,Michael,551,CRNA,10/12/2010 0:00,BoudreauxDavid,Boudreaux,David,Michael,...,CRNA,100010,10/12/2010 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN

In [220]:
# Produce a red flag report of out of compliance anesthesia clinicians
redflag = astatus[(astatus["licenseStatusDescription"] == "Expired")]
redflag.to_csv("report_anesthesia_redflag.csv", index=False, header=True)
redflag.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
86,Smith,Catherine,Vu,1255,CRNA,11/24/2020 0:00,SmithCatherine,Smith,Catherine,Vu,...,C-CRNA,1082,05/21/2018 12:00:00 AM,10/01/2020 12:00:00 AM,11/24/2020 12:00:00 AM,Expired,NaN,NaN,NaN,NaN

In [221]:
# RN Sublicense Management

In [222]:
# Merge the employee and registered nurse license status dataframes using a left join
rn_status = pd.merge(employee, nurse, on="matchName", how="left")
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
0,Tobin,David,A,40,CRNA,12/27/2016 0:00,TobinDavid,Tobin,David,A,winston salem,NC,27103,RN,1639802.0,09/30/2020 12:00:00 AM,Active
1,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
3,Shank,Claudine,Dale A,107,CRNA,7/7/2004 0:00,ShankClaudine,Shank,Claudine,Dale A,Colorado Springs,CO,80921,RN,114275.0,09/30/2022 12:00:00 AM,Active
4,Sims,John,NaN,112,CRNA,12/13/2016 0:00,SimsJohn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
# Sort by matchName then licenseStatus, "Active" first
rn_status.sort_values(by=['matchName', 'licenseStatusDescription'], inplace=True)
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
66,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
99,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
42,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
# Remove duplicates leaving the "Active" status if true
rn_status.drop_duplicates(subset ="matchName", keep = False, inplace = True) 
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
66,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
99,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
42,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
# Remove Anesthesiologist Assistants because they do not require an RN sublicense and produce a compliance report
rn_status = rn_status[(rn_status["title"] == "CRNA")]
rn_status.to_csv("report_nurse_compliance.csv", index=False, header=True)
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
2,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
66,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
99,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
97,Bishop,Trent,M,1258,CRNA,11/13/2020 0:00,BishopTrent,Bishop,Trent,M,Durango,CO,81301,RN,1671331.0,09/30/2022 12:00:00 AM,Active
28,Boudreaux,David,Michael,551,CRNA,10/12/2010 0:00,BoudreauxDavid,Boudreaux,David,Michael,New Orleans,LA,70119,RN,197160.0,09/30/2022 12:00:00 AM,Active

In [226]:
# # Produce a dataframe with expired sublicenses
# rn_redflag = rn_status[(rn_status["licenseStatusDescription"] == "Expired") + (rn_status["licenseStatusDescription"] == "")]
# rn_redflag.to_csv("rn_redflag_report.csv", index=False, header=True)
# rn_redflag.head()

In [227]:
# Produce a red flag list of anesthesia clinicians that do not have a required sublicense with "Active" status
rn_redflag = rn_status[(rn_status["licenseStatusDescription"] != "Active")]
rn_redflag.to_csv("report_nurse_redflag.csv", index=False, header=True)
rn_redflag.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
27,Gates,Niki,Lynn,522,CRNA,6/19/2018 0:00,GatesNiki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Jernigan,Amanda,Rhea,129,CRNA,3/14/2017 0:00,JerniganAmanda,Jernigan,Amanda,Rhea,Nashville,TN,37205,RN,195510.0,03/14/2017 12:00:00 AM,Expired
39,Lagrimas,Carl,NaN,775,CRNA,9/27/2019 0:00,LagrimasCarl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Lam,Bao,Thai,370,CRNA,3/2/2018 0:00,LamBao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sims,John,NaN,112,CRNA,12/13/2016 0:00,SimsJohn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
# wieser = anesthesia[(anesthesia["lastName"] == "Wieser")]
# wieser.head()

In [229]:
# wieser = employee[(employee["lastName"] == "Wieser")]
# wieser.head()

In [230]:
# wieser = nurse[(nurse["lastName"] == "Wieser")]
# wieser.head(100)

In [231]:
gates = anesthesia[(anesthesia["lastName"] == "Gates")]
gates.head()

,lastName,firstName,middleName,city,state,mailZipCode,licensePrefix,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,matchName
766,Gates,Gerald,M,Helotes,TX,78023,C-APN,C-CRNA,25030,06/01/2010 12:00:00 AM,06/01/2010 12:00:00 AM,09/30/2012 12:00:00 AM,Expired,NaN,NaN,NaN,NaN,GatesGerald
1038,Gates,Niki,Lynn,Greenwood Village,CO,80111,C-RXN,C-CRNA,471,06/19/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,GatesNiki
1512,Gates,Niki,Lynn,Greenwood Village,CO,80111,C-APN,C-CRNA,1128,06/19/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,GatesNiki
1519,Gates,Jory,NaN,Windsor,CO,80550,C-APN,C-CRNA,515,06/15/2016 12:00:00 AM,06/15/2016 12:00:00 AM,03/06/2018 12:00:00 AM,Expired,NaN,NaN,NaN,NaN,GatesJory
1963,Gates,Jory,NaN,Windsor,CO,80550,APN,CRNA,993734,03/06/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,GatesJory

In [232]:
gates = employee[(employee["lastName"] == "Gates")]
gates.head()

   lastName firstName middleName  employeeNum title        hireDate  matchName
27    Gates      Niki       Lynn          522  CRNA  6/19/2018 0:00  GatesNiki

In [233]:
gatesplus = nurse[(nurse["lastName"] == "Gates") & (nurse["firstName"] == "Nikki")]
gatesplus.head(100)

Empty DataFrame
Columns: [lastName, firstName, middleName, city, state, mailZipCode, licensePrefix, licenseNumber, licenseExpirationDate, licenseStatusDescription, matchName]
Index: []