In [90]:
# Note that the initial license file from Colorado was too big to load into git hub.
# I ran earlier notebooks to analyze the dataset and determine the best way to reduce it.
# The original 1.2 million line professional license file was reduced to two files a) anesthesia and b) registereed nurse
# This notebook picks-up with a smaller license_anesthesia file that relates just to the non-physician anesthesia clinicians
# and a smaller license_regnurse file that relates to the underlying RN license file that supports practicing as a CRNA

# Rodgers Secondary Extract & Transform Workbook

In [91]:
# Initial Extract & Transform Dependencies
import pandas as pd

# Secondardy PGAdmin Extract Dependencies
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float 
from config import passcode

In [92]:
# Import the file of non-physician anesthesia clinicians
anesthesia=pd.read_csv('license_anesthesia.csv')
anesthesia.head()

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,licenseStatusDescription,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile
0,Charles,James,Robert,NaN,NaN,Golden,CO,80401,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
1,Stagg,Russell,Adair,NaN,NaN,Meeker,CO,81641,C-APN,C-CRNA,...,Expired,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
2,Sampier,Nicole,Louise A,NaN,NaN,Tampa,FL,33602,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
3,Trouskie,William,Leonard,JR,NaN,Rifle,CO,81650,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
4,Penix,Patrick,Alexander,NaN,NaN,Fort Collins,CO,80526,APN,CRNA,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN

In [93]:
#anesthesia.info()

In [94]:
# Create a last plus first name matching element to merge dataframes
anesthesia['matchName'] = anesthesia['lastName'] + anesthesia['firstName']
anesthesia.head()

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile,matchName
0,Charles,James,Robert,NaN,NaN,Golden,CO,80401,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,CharlesJames
1,Stagg,Russell,Adair,NaN,NaN,Meeker,CO,81641,C-APN,C-CRNA,...,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,StaggRussell
2,Sampier,Nicole,Louise A,NaN,NaN,Tampa,FL,33602,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,SampierNicole
3,Trouskie,William,Leonard,JR,NaN,Rifle,CO,81650,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,TrouskieWilliam
4,Penix,Patrick,Alexander,NaN,NaN,Fort Collins,CO,80526,APN,CRNA,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,PenixPatrick

In [95]:
# Remove excess columns
del anesthesia["suffix"]
del anesthesia["entityName"]
del anesthesia["specialty"]
del anesthesia["title"]
del anesthesia["degrees"]
del anesthesia["linkToVerifyLicense"]
del anesthesia["linkToViewHealthcareProfile"]
anesthesia.head()

,lastName,firstName,middleName,city,state,mailZipCode,licensePrefix,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,matchName
0,Charles,James,Robert,Golden,CO,80401,APN,CRNA,3656,02/15/2002 12:00:00 AM,10/01/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN,CharlesJames
1,Stagg,Russell,Adair,Meeker,CO,81641,C-APN,C-CRNA,211,06/18/2014 12:00:00 AM,06/18/2014 12:00:00 AM,11/05/2014 12:00:00 AM,Expired,NaN,NaN,NaN,NaN,StaggRussell
2,Sampier,Nicole,Louise A,Tampa,FL,33602,APN,CRNA,994392,01/03/2019 12:00:00 AM,10/01/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN,SampierNicole
3,Trouskie,William,Leonard,Rifle,CO,81650,APN,CRNA,15066,03/02/2010 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,TrouskieWilliam
4,Penix,Patrick,Alexander,Fort Collins,CO,80526,APN,CRNA,995315,01/27/2020 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN,PenixPatrick

In [96]:
# Rename state to st because it looks like postgres is going to choke on it 
anesthesia = anesthesia.rename(columns={"state" : "st"})

In [97]:
anesthesia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lastName                  2448 non-null   object
 1   firstName                 2448 non-null   object
 2   middleName                2200 non-null   object
 3   city                      2448 non-null   object
 4   st                        2448 non-null   object
 5   mailZipCode               2447 non-null   object
 6   licensePrefix             2448 non-null   object
 7   subCategory               2310 non-null   object
 8   licenseNumber             2448 non-null   int64
 9   licenseFirstIssueDate     2448 non-null   object
 10  licenseLastRenewedDate    2447 non-null   object
 11  licenseExpirationDate     2448 non-null   object
 12  licenseStatusDescription  2448 non-null   object
 13  caseNumber                7 non-null      object
 14  programAction             7 non-null      object
 15  disciplineEffectiveDate   7 non-null      object
 16  disciplineCompleteDate    1 non-null      object
 17  matchName                 2448 non-null   object
dtypes: int64(1), object(17)
memory usage: 344.4+ KB

In [98]:
# Stage cleaned anesthesia file for database build
anesthesia.to_csv("loadAnesthesiaLicense.csv", index=False, header=True)

In [99]:
# Confirm that last name on its own will not support a matching process
# anesthesia['lastName'].value_counts()

In [100]:
# Confirm that last name first name combo on its own will support a matching process or build exception process
# anesthesia['matchName'].value_counts()

In [101]:
# Import the file with the registered nurse information required to validate underlying licenses
nurse=pd.read_csv('license_regnurse.csv')
nurse.head()

C:\Users\rodge\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,licenseStatusDescription,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile
0,Saracino,Jodi,Kay,NaN,NaN,Arvada,CO,80004,RN,NaN,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
1,Neal,Carmen,Darlene,NaN,NaN,Longview,TX,75608,RN,NaN,...,Expired,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
2,Freeland,Judith,A.,NaN,NaN,BAILEY,CO,80421,RN,NaN,...,Expired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN
3,Healy,Julie,E,NaN,NaN,Colorado Springs,CO,80920,RN,NaN,...,Active,NaN,NaN,~Associate Degree in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...
4,Englade,Keith,Steven,NaN,NaN,Aurora,CO,80013,RN,NaN,...,Active,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...

In [102]:
# Create a last plus first name matching element to merge dataframes
nurse['matchName'] = nurse['lastName'] + nurse['firstName']
nurse.head()

,lastName,firstName,middleName,suffix,entityName,city,state,mailZipCode,licensePrefix,subCategory,...,specialty,title,degrees,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate,linkToVerifyLicense,linkToViewHealthcareProfile,matchName
0,Saracino,Jodi,Kay,NaN,NaN,Arvada,CO,80004,RN,NaN,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,SaracinoJodi
1,Neal,Carmen,Darlene,NaN,NaN,Longview,TX,75608,RN,NaN,...,NaN,NaN,~Assoc of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,NealCarmen
2,Freeland,Judith,A.,NaN,NaN,BAILEY,CO,80421,RN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,NaN,FreelandJudith
3,Healy,Julie,E,NaN,NaN,Colorado Springs,CO,80920,RN,NaN,...,NaN,NaN,~Associate Degree in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,HealyJulie
4,Englade,Keith,Steven,NaN,NaN,Aurora,CO,80013,RN,NaN,...,NaN,NaN,~Bachelors of Science in Nursing,NaN,NaN,NaN,NaN,https://www.colorado.gov/dora/licensing/Lookup...,https://www.colorado.gov/dora/licensing/Snapsh...,EngladeKeith

In [103]:
#nurse.info()

In [104]:
# Remove unneeded columns
del nurse["suffix"]
del nurse["entityName"]
del nurse["subCategory"]
del nurse["specialty"]
del nurse["title"]
del nurse["licenseFirstIssueDate"]
del nurse["licenseLastRenewedDate"]
del nurse["degrees"]
del nurse["caseNumber"]
del nurse["programAction"]
del nurse["disciplineEffectiveDate"]
del nurse["disciplineCompleteDate"]
del nurse["linkToVerifyLicense"]
del nurse["linkToViewHealthcareProfile"]
nurse.head()

,lastName,firstName,middleName,city,state,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription,matchName
0,Saracino,Jodi,Kay,Arvada,CO,80004,RN,103136.0,09/30/2021 12:00:00 AM,Active,SaracinoJodi
1,Neal,Carmen,Darlene,Longview,TX,75608,RN,181576.0,09/30/2015 12:00:00 AM,Expired,NealCarmen
2,Freeland,Judith,A.,BAILEY,CO,80421,RN,92692.0,09/30/2005 12:00:00 AM,Expired,FreelandJudith
3,Healy,Julie,E,Colorado Springs,CO,80920,RN,130994.0,09/30/2021 12:00:00 AM,Active,HealyJulie
4,Englade,Keith,Steven,Aurora,CO,80013,RN,205425.0,09/30/2022 12:00:00 AM,Active,EngladeKeith

In [105]:
# Rename state to st because it looks like postgres is going to choke on it 
nurse = nurse.rename(columns={"state" : "st"})

In [106]:
nurse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196995 entries, 0 to 196994
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   lastName                  196994 non-null  object
 1   firstName                 196993 non-null  object
 2   middleName                180778 non-null  object
 3   city                      196194 non-null  object
 4   st                        194724 non-null  object
 5   mailZipCode               195656 non-null  object
 6   licensePrefix             196995 non-null  object
 7   licenseNumber             196991 non-null  float64
 8   licenseExpirationDate     196994 non-null  object
 9   licenseStatusDescription  196995 non-null  object
 10  matchName                 196993 non-null  object
dtypes: float64(1), object(10)
memory usage: 16.5+ MB

In [107]:
# Stage cleaned registered nurse license file for database build
nurse.to_csv("loadNurseLicense.csv", index=False, header=True)

In [108]:
#Import the employee roster (a random subset of public licensees used as fictitious roster in lieu of actual employee roster)
employee=pd.read_csv('employee_roster.csv')
employee.head()

,lastName,firstName,middleName,employeeNum,city,state,mailZipCode,title,hireDate,projectIndicator
0,Ackerman,Serena,Maija,97,Mount Shasta,CA,96067,CRNA,3/16/2009 0:00,1
1,Adams,Chad,R,1049,Lexington,KY,40514,CRNA,7/2/2018 0:00,1
2,Ahern,Caitlin,Moira,1260,Englewood,CO,80112,CRNA,10/23/2020 0:00,2
3,Balyer,Ean,NaN,859,Madison,WI,53703,AA,3/20/2019 0:00,1
4,Barfield,Benjamin,James,67,Denver,CO,80238,AA,6/5/2013 0:00,1

In [109]:
# Create a last plus first name matching element to merge dataframes
employee['matchName'] = employee['lastName'] + employee['firstName']
employee.head()

,lastName,firstName,middleName,employeeNum,city,state,mailZipCode,title,hireDate,projectIndicator,matchName
0,Ackerman,Serena,Maija,97,Mount Shasta,CA,96067,CRNA,3/16/2009 0:00,1,AckermanSerena
1,Adams,Chad,R,1049,Lexington,KY,40514,CRNA,7/2/2018 0:00,1,AdamsChad
2,Ahern,Caitlin,Moira,1260,Englewood,CO,80112,CRNA,10/23/2020 0:00,2,AhernCaitlin
3,Balyer,Ean,NaN,859,Madison,WI,53703,AA,3/20/2019 0:00,1,BalyerEan
4,Barfield,Benjamin,James,67,Denver,CO,80238,AA,6/5/2013 0:00,1,BarfieldBenjamin

In [110]:
# Remove excess columns
del employee["projectIndicator"]
del employee["city"]
del employee["state"]
del employee["mailZipCode"]
employee.head()

,lastName,firstName,middleName,employeeNum,title,hireDate,matchName
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin
3,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin

In [111]:
#employee.info()

In [112]:
# Stage cleaned employee roster file for database build
employee.to_csv("loadEmployeeRoster.csv", index=False, header=True)

In [113]:
# Compliance Reporting Section

# CSV to Pandas -  Anesthesia License Management Section

In [114]:
# One - Merge the employee and anesthesia license status dataframes using a left join
astatus = pd.merge(employee, anesthesia, on="matchName", how="left")
astatus.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,CRNA,995962,10/23/2020 12:00:00 AM,10/23/2020 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
3,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,C-CRNA,2009,04/08/2020 12:00:00 AM,10/01/2020 12:00:00 AM,10/23/2020 12:00:00 AM,Expired,NaN,NaN,NaN,NaN
4,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,NaN,...,NaN,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN

In [115]:
# TWo - Sort by matchName then licenseStatus, "Active" first
astatus.sort_values(by=['matchName', 'licenseStatusDescription'], inplace=True)
astatus.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,CRNA,995962,10/23/2020 12:00:00 AM,10/23/2020 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
3,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,C-CRNA,2009,04/08/2020 12:00:00 AM,10/01/2020 12:00:00 AM,10/23/2020 12:00:00 AM,Expired,NaN,NaN,NaN,NaN
4,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,NaN,...,NaN,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN

In [116]:
# Three Remove duplicates leaving the active license in the compliance reporting process if it exists
astatus.drop_duplicates(subset ="matchName", keep = False, inplace = True) 
#astatus.to_csv("report_anesthesia_compliance.csv", index=False, header=True)
astatus.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,NaN,NaN,NaN,NaN
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
4,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,NaN,...,NaN,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
5,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,Barfield,Benjamin,James,...,NaN,10,06/05/2013 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN
8,Boudreaux,David,Michael,551,CRNA,10/12/2010 0:00,BoudreauxDavid,Boudreaux,David,Michael,...,CRNA,100010,10/12/2010 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,NaN,NaN,NaN,NaN

In [117]:
# Four Produce a red flag report of out of compliance anesthesia clinicians
redflag = astatus[(astatus["licenseStatusDescription"] == "Expired")]
#redflag.to_csv("report_anesthesia_redflag.csv", index=False, header=True)
redflag.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,...,subCategory,licenseNumber,licenseFirstIssueDate,licenseLastRenewedDate,licenseExpirationDate,licenseStatusDescription,caseNumber,programAction,disciplineEffectiveDate,disciplineCompleteDate
81,Smith,Catherine,Vu,1255,CRNA,11/24/2020 0:00,SmithCatherine,Smith,Catherine,Vu,...,C-CRNA,1082,05/21/2018 12:00:00 AM,10/01/2020 12:00:00 AM,11/24/2020 12:00:00 AM,Expired,NaN,NaN,NaN,NaN

# CSV to Pandas -  Registered Nurse Sub-License Management Section

In [118]:
# One - Merge the employee and registered nurse license status dataframes using a left join
rn_status = pd.merge(employee, nurse, on="matchName", how="left")
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,st,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
3,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
# Two - Sort by matchName then licenseStatus, "Active" first
rn_status.sort_values(by=['matchName', 'licenseStatusDescription'], inplace=True)
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,st,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
3,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
# Three - Remove duplicates leaving the "Active" status if true
rn_status.drop_duplicates(subset ="matchName", keep = False, inplace = True) 
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,st,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
3,Balyer,Ean,NaN,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
# Four - Remove Anesthesiologist Assistants because they do not require an RN sublicense and produce a compliance report
rn_status = rn_status[(rn_status["title"] == "CRNA")]
#rn_status.to_csv("report_nurse_compliance.csv", index=False, header=True)
rn_status.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,st,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
5,Bishop,Trent,M,1258,CRNA,11/13/2020 0:00,BishopTrent,Bishop,Trent,M,Durango,CO,81301,RN,1671331.0,09/30/2022 12:00:00 AM,Active
6,Boudreaux,David,Michael,551,CRNA,10/12/2010 0:00,BoudreauxDavid,Boudreaux,David,Michael,New Orleans,LA,70119,RN,197160.0,09/30/2022 12:00:00 AM,Active

In [122]:
# Five - Produce a red flag list of anesthesia clinicians that do not have a required sublicense with "Active" status
rn_redflag = rn_status[(rn_status["licenseStatusDescription"] != "Active")]
#rn_redflag.to_csv("report_nurse_redflag.csv", index=False, header=True)
rn_redflag.head()

,lastName_x,firstName_x,middleName_x,employeeNum,title,hireDate,matchName,lastName_y,firstName_y,middleName_y,city,st,mailZipCode,licensePrefix,licenseNumber,licenseExpirationDate,licenseStatusDescription
20,Gates,Niki,Lynn,522,CRNA,6/19/2018 0:00,GatesNiki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jernigan,Amanda,Rhea,129,CRNA,3/14/2017 0:00,JerniganAmanda,Jernigan,Amanda,Rhea,Nashville,TN,37205,RN,195510.0,03/14/2017 12:00:00 AM,Expired
43,Lagrimas,Carl,NaN,775,CRNA,9/27/2019 0:00,LagrimasCarl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Lam,Bao,Thai,370,CRNA,3/2/2018 0:00,LamBao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Sims,John,NaN,112,CRNA,12/13/2016 0:00,SimsJohn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Quality and issue checks ...

In [123]:
# wieser = anesthesia[(anesthesia["lastName"] == "Wieser")]
# wieser.head()

In [124]:
# wieser = employee[(employee["lastName"] == "Wieser")]
# wieser.head()

In [125]:
# wieser = nurse[(nurse["lastName"] == "Wieser")]
# wieser.head(100)

In [126]:
# gates = anesthesia[(anesthesia["lastName"] == "Gates")]
# gates.head()

In [127]:
# gates = employee[(employee["lastName"] == "Gates")]
# gates.head()

In [128]:
# gatesplus = nurse[(nurse["lastName"] == "Gates") & (nurse["firstName"] == "Nikki")]
# gatesplus.head(100)

In [129]:
# other = anesthesia[(anesthesia["lastName"] == "Fishell")]
# other.head()

# Extracting from new PGAdmin Database

In [130]:
# Creates a connection to the DB
engine = create_engine('postgresql://postgres:'+ passcode + '@localhost:5432/aEtlChallenge')
conn = engine.connect()

In [131]:
# Preview the anesthesia license data
al = pd.read_sql("SELECT * FROM anesthesialicense", conn)
al.head()

,lastname,firstname,middlename,city,st,mailzipcode,licenseprefix,subcategory,licensenumber,licensefirstissuedate,licenselastreneweddate,licenseexpirationdate,licensestatusdescription,casenumber,programaction,disciplineeffectivedate,disciplinecompletedate,matchname
0,Charles,James,Robert,Golden,CO,80401,APN,CRNA,3656,02/15/2002 12:00:00 AM,10/01/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None,CharlesJames
1,Stagg,Russell,Adair,Meeker,CO,81641,C-APN,C-CRNA,211,06/18/2014 12:00:00 AM,06/18/2014 12:00:00 AM,11/05/2014 12:00:00 AM,Expired,None,None,None,None,StaggRussell
2,Sampier,Nicole,Louise A,Tampa,FL,33602,APN,CRNA,994392,01/03/2019 12:00:00 AM,10/01/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None,SampierNicole
3,Trouskie,William,Leonard,Rifle,CO,81650,APN,CRNA,15066,03/02/2010 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,None,None,None,None,TrouskieWilliam
4,Penix,Patrick,Alexander,Fort Collins,CO,80526,APN,CRNA,995315,01/27/2020 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,None,None,None,None,PenixPatrick

In [132]:
# Preview the nurse license data
nl = pd.read_sql("SELECT * FROM nurselicense", conn)
nl.head()

,lastname,firstname,middlename,city,st,mailzipcode,licenseprefix,licensenumber,licenseexpirationdate,licensestatusdescription,matchname
0,Saracino,Jodi,Kay,Arvada,CO,80004,RN,103136.0,09/30/2021 12:00:00 AM,Active,SaracinoJodi
1,Neal,Carmen,Darlene,Longview,TX,75608,RN,181576.0,09/30/2015 12:00:00 AM,Expired,NealCarmen
2,Freeland,Judith,A.,BAILEY,CO,80421,RN,92692.0,09/30/2005 12:00:00 AM,Expired,FreelandJudith
3,Healy,Julie,E,Colorado Springs,CO,80920,RN,130994.0,09/30/2021 12:00:00 AM,Active,HealyJulie
4,Englade,Keith,Steven,Aurora,CO,80013,RN,205425.0,09/30/2022 12:00:00 AM,Active,EngladeKeith

In [133]:
# Preview the employee_roster data
er = pd.read_sql("SELECT * FROM employeeroster", conn)
er.head()

,lastname,firstname,middlename,employeenum,title,hiredate,matchname
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin
3,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin

# PGAdmin to Pandas Anesthesia License Management

In [134]:
# One - Merge the employee and anesthesia license status dataframes using a left join
pgastatus = pd.merge(er, al, on="matchname", how="left")
pgastatus.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,...,subcategory,licensenumber,licensefirstissuedate,licenselastreneweddate,licenseexpirationdate,licensestatusdescription,casenumber,programaction,disciplineeffectivedate,disciplinecompletedate
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,None,None,None,None
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,CRNA,995962,10/23/2020 12:00:00 AM,10/23/2020 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None
3,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,C-CRNA,2009,04/08/2020 12:00:00 AM,10/01/2020 12:00:00 AM,10/23/2020 12:00:00 AM,Expired,None,None,None,None
4,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,None,...,None,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,None,None,None,None

In [135]:
# TWo - Sort by matchName then licenseStatus, "Active" first
pgastatus.sort_values(by=['matchname', 'licensestatusdescription'], inplace=True)
pgastatus.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,...,subcategory,licensenumber,licensefirstissuedate,licenselastreneweddate,licenseexpirationdate,licensestatusdescription,casenumber,programaction,disciplineeffectivedate,disciplinecompletedate
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,None,None,None,None
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,CRNA,995962,10/23/2020 12:00:00 AM,10/23/2020 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None
3,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,...,C-CRNA,2009,04/08/2020 12:00:00 AM,10/01/2020 12:00:00 AM,10/23/2020 12:00:00 AM,Expired,None,None,None,None
4,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,None,...,None,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,None,None,None,None

In [136]:
# Three Remove duplicates leaving the active license in the compliance reporting process if it exists
# Produce a compliance report that has status of all employees
pgastatus.drop_duplicates(subset ="matchname", keep = False, inplace = True) 
pgastatus.to_csv("report_anesthesia_compliance.csv", index=False, header=True)
pgastatus.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,...,subcategory,licensenumber,licensefirstissuedate,licenselastreneweddate,licenseexpirationdate,licensestatusdescription,casenumber,programaction,disciplineeffectivedate,disciplinecompletedate
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,...,CRNA,6026,03/16/2009 12:00:00 AM,09/06/2019 12:00:00 AM,09/30/2021 12:00:00 AM,Active,None,None,None,None
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,R,...,C-CRNA,1154,07/02/2018 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,None,None,None,None
4,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan,Balyer,Ean,None,...,None,109,03/20/2019 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,None,None,None,None
5,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,Barfield,Benjamin,James,...,None,10,06/05/2013 12:00:00 AM,02/01/2020 12:00:00 AM,01/31/2022 12:00:00 AM,Active,None,None,None,None
8,Boudreaux,David,Michael,551,CRNA,10/12/2010 0:00,BoudreauxDavid,Boudreaux,David,Michael,...,CRNA,100010,10/12/2010 12:00:00 AM,10/01/2020 12:00:00 AM,09/30/2022 12:00:00 AM,Active,None,None,None,None

In [137]:
# Four-A Produce a red flag report of out of compliance anesthesia clinicians
pgredflag = pgastatus[(pgastatus["licensestatusdescription"] == "Expired")]
pgredflag.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,...,subcategory,licensenumber,licensefirstissuedate,licenselastreneweddate,licenseexpirationdate,licensestatusdescription,casenumber,programaction,disciplineeffectivedate,disciplinecompletedate
81,Smith,Catherine,Vu,1255,CRNA,11/24/2020 0:00,SmithCatherine,Smith,Catherine,Vu,...,C-CRNA,1082,05/21/2018 12:00:00 AM,10/01/2020 12:00:00 AM,11/24/2020 12:00:00 AM,Expired,None,None,None,None

In [138]:
# Four-B rename redflag report
pgredflag2 = pgredflag.rename(columns={"lastname_x": "Last_Name", "firstname_x": "First_Name","middlename_x": "Middle_Name" ,"employeenum": "Employee_Number","title": "Title","hiredate": "Hire_Date","licensenumber": "License_Number","licenseexpirationdate": "Expiration_Date","licensestatusdescription": "License_Status"})
pgredflag2.head()

,Last_Name,First_Name,Middle_Name,Employee_Number,Title,Hire_Date,matchname,lastname_y,firstname_y,middlename_y,...,subcategory,License_Number,licensefirstissuedate,licenselastreneweddate,Expiration_Date,License_Status,casenumber,programaction,disciplineeffectivedate,disciplinecompletedate
81,Smith,Catherine,Vu,1255,CRNA,11/24/2020 0:00,SmithCatherine,Smith,Catherine,Vu,...,C-CRNA,1082,05/21/2018 12:00:00 AM,10/01/2020 12:00:00 AM,11/24/2020 12:00:00 AM,Expired,None,None,None,None

In [139]:
# Four-C Narrow the report to the needed information for consumption
pgredflag3 = pgredflag2[["Last_Name", "First_Name", "Middle_Name", "Employee_Number", "Title", "Hire_Date", "License_Number", "Expiration_Date", "License_Status"]]
pgredflag3.head()

,Last_Name,First_Name,Middle_Name,Employee_Number,Title,Hire_Date,License_Number,Expiration_Date,License_Status
81,Smith,Catherine,Vu,1255,CRNA,11/24/2020 0:00,1082,11/24/2020 12:00:00 AM,Expired

In [140]:
# Five - Save to csv file for report consumption
pgredflag3.to_csv("report_anesthesia_redflag.csv", index=False, header=True)

# PGAdmin to Pandas - Registered Nurse Sub-license Management

In [141]:
# One - Merge the employee and registered nurse license status table using a left join
pgrn_status = pd.merge(er, nl, on="matchname", how="left")
pgrn_status.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,city,st,mailzipcode,licenseprefix,licensenumber,licenseexpirationdate,licensestatusdescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
3,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
# Two - Sort by matchName then licenseStatus, "Active" first
pgrn_status.sort_values(by=['matchname', 'licensestatusdescription'], inplace=True)
pgrn_status.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,city,st,mailzipcode,licenseprefix,licensenumber,licenseexpirationdate,licensestatusdescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
3,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
# Three - Remove duplicates leaving the "Active" status if true
pgrn_status.drop_duplicates(subset ="matchname", keep = False, inplace = True) 
pgrn_status.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,city,st,mailzipcode,licenseprefix,licensenumber,licenseexpirationdate,licensestatusdescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
3,Balyer,Ean,None,859,AA,3/20/2019 0:00,BalyerEan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Barfield,Benjamin,James,67,AA,6/5/2013 0:00,BarfieldBenjamin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# Four - Remove Anesthesiologist Assistants because they do not require an RN sublicense 
# Produce a compliance report with statsu of all CRNA's sub-license status
pgrn_status = pgrn_status[(pgrn_status["title"] == "CRNA")]
pgrn_status.to_csv("report_rnsublicense_compliance.csv", index=False, header=True)
pgrn_status.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,city,st,mailzipcode,licenseprefix,licensenumber,licenseexpirationdate,licensestatusdescription
0,Ackerman,Serena,Maija,97,CRNA,3/16/2009 0:00,AckermanSerena,Ackerman,Serena,Maija,Mount Shasta,CA,96067,RN,181740.0,09/30/2021 12:00:00 AM,Active
1,Adams,Chad,R,1049,CRNA,7/2/2018 0:00,AdamsChad,Adams,Chad,A,Longmont,CO,80503,RN,167534.0,09/30/2021 12:00:00 AM,Active
2,Ahern,Caitlin,Moira,1260,CRNA,10/23/2020 0:00,AhernCaitlin,Ahern,Caitlin,Moira,Englewood,CO,80112,RN,1622686.0,09/30/2021 12:00:00 AM,Active
5,Bishop,Trent,M,1258,CRNA,11/13/2020 0:00,BishopTrent,Bishop,Trent,M,Durango,CO,81301,RN,1671331.0,09/30/2022 12:00:00 AM,Active
6,Boudreaux,David,Michael,551,CRNA,10/12/2010 0:00,BoudreauxDavid,Boudreaux,David,Michael,New Orleans,LA,70119,RN,197160.0,09/30/2022 12:00:00 AM,Active

In [145]:
# Five-A - Produce a red flag list of anesthesia clinicians that do not have a required sublicense with "Active" status 
pgrn_redflag = pgrn_status[(pgrn_status["licensestatusdescription"] != "Active")]
#pgrn_redflag.to_csv("report_pgnurse_redflag.csv", index=False, header=True)
pgrn_redflag.head()

,lastname_x,firstname_x,middlename_x,employeenum,title,hiredate,matchname,lastname_y,firstname_y,middlename_y,city,st,mailzipcode,licenseprefix,licensenumber,licenseexpirationdate,licensestatusdescription
20,Gates,Niki,Lynn,522,CRNA,6/19/2018 0:00,GatesNiki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jernigan,Amanda,Rhea,129,CRNA,3/14/2017 0:00,JerniganAmanda,Jernigan,Amanda,Rhea,Nashville,TN,37205,RN,195510.0,03/14/2017 12:00:00 AM,Expired
43,Lagrimas,Carl,None,775,CRNA,9/27/2019 0:00,LagrimasCarl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Lam,Bao,Thai,370,CRNA,3/2/2018 0:00,LamBao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Sims,John,None,112,CRNA,12/13/2016 0:00,SimsJohn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
# Five-B rename redflag report
pgrn_redflag2 = pgrn_redflag.rename(columns={"lastname_x": "Last_Name", "firstname_x": "First_Name","middlename_x": "Middle_Name" ,"employeenum": "Employee_Number","title": "Title","hiredate": "Hire_Date","licensenumber": "License_Number","licenseexpirationdate": "Expiration_Date","licensestatusdescription": "License_Status"})
pgrn_redflag2.head()

,Last_Name,First_Name,Middle_Name,Employee_Number,Title,Hire_Date,matchname,lastname_y,firstname_y,middlename_y,city,st,mailzipcode,licenseprefix,License_Number,Expiration_Date,License_Status
20,Gates,Niki,Lynn,522,CRNA,6/19/2018 0:00,GatesNiki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jernigan,Amanda,Rhea,129,CRNA,3/14/2017 0:00,JerniganAmanda,Jernigan,Amanda,Rhea,Nashville,TN,37205,RN,195510.0,03/14/2017 12:00:00 AM,Expired
43,Lagrimas,Carl,None,775,CRNA,9/27/2019 0:00,LagrimasCarl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Lam,Bao,Thai,370,CRNA,3/2/2018 0:00,LamBao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Sims,John,None,112,CRNA,12/13/2016 0:00,SimsJohn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# Five-C Narrow the report to the needed information for consumption
pgrn_redflag3 = pgrn_redflag2[["Last_Name", "First_Name", "Middle_Name", "Employee_Number", "Title", "Hire_Date", "License_Number", "Expiration_Date", "License_Status"]]
pgrn_redflag3.head()

,Last_Name,First_Name,Middle_Name,Employee_Number,Title,Hire_Date,License_Number,Expiration_Date,License_Status
20,Gates,Niki,Lynn,522,CRNA,6/19/2018 0:00,NaN,NaN,NaN
25,Jernigan,Amanda,Rhea,129,CRNA,3/14/2017 0:00,195510.0,03/14/2017 12:00:00 AM,Expired
43,Lagrimas,Carl,None,775,CRNA,9/27/2019 0:00,NaN,NaN,NaN
44,Lam,Bao,Thai,370,CRNA,3/2/2018 0:00,NaN,NaN,NaN
77,Sims,John,None,112,CRNA,12/13/2016 0:00,NaN,NaN,NaN

In [150]:
# Six - Save to csv file for report consumption
pgrn_redflag3.to_csv("report_rnsublicense_redflag.csv", index=False, header=True)